header, div, main, nav, aside, footer {
  border: 1px solid black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #303F9F;
    font-family: Verdana, Geneva, sans-serif;
}

.container {
  display: flex;
  flex: 1;
  /*background-color: #303F9F;*/
}

header {
  text-align: center;
  background-color: #757575;
}

main {
  flex: 1;
  text-align: center;
}

p {
  margin: 0px
}

.nav {
  text-align: center;
}

aside {
  flex: 0 0 12em;
  background-color: #757575;
}

label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

input {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  color: #555;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box
}

form {
  text-align: center;
  margin-top: 40px;
}

footer {
  text-align: center;
  background-color: #757575;
}

/*.weather {
  margin: 5px;
  padding: 5px 15px 5px 15px;
  background-color: #E4E1DE;
  border-radius: 5px;
}*/
